[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
pep8-naming = "*"
wheel = "*"
mypy = "*"

[packages]
gym = "*"
psutil = "*"

[requires]
python_version = "3.7"

[scripts]
format = "autopep8 -ivr src"
lint = "flake8 --show-source src"
